<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apricotlemontea.homepage.mapper.ContentsMapper">

    <select id="getAnnouncementJa" resultType="com.apricotlemontea.homepage.dto.AnnouncementRecord">
        SELECT
            title_ja AS title,
            contents_ja AS contents,
            `time`
        FROM
            hp_contents_announcement
        ORDER BY
            `time` DESC
    </select>
    <select id="getAnnouncementZh" resultType="com.apricotlemontea.homepage.dto.AnnouncementRecord">
        SELECT
            title_zh AS title,
            contents_zh AS contents,
            `time`
        FROM
            hp_contents_announcement
        ORDER BY
            `time` DESC
    </select>
    <select id="getAnnouncementEn" resultType="com.apricotlemontea.homepage.dto.AnnouncementRecord">
        SELECT
            title_en AS title,
            contents_en AS contents,
            `time`
        FROM
            hp_contents_announcement
        ORDER BY
            `time` DESC
    </select>

    <select id="getPatchNoteJa" resultType="com.apricotlemontea.homepage.dto.PatchNoteRecord">
        SELECT
            title,
            contents_ja AS contents
        FROM
            hp_contents_patch_note
        ORDER BY
            title DESC
    </select>
    <select id="getPatchNoteZh" resultType="com.apricotlemontea.homepage.dto.PatchNoteRecord">
        SELECT
            title,
            contents_zh AS contents
        FROM
            hp_contents_patch_note
        ORDER BY
            title DESC
    </select>
    <select id="getPatchNoteEn" resultType="com.apricotlemontea.homepage.dto.PatchNoteRecord">
        SELECT
            title,
            contents_en AS contents
        FROM
            hp_contents_patch_note
        ORDER BY
            title DESC
    </select>

</mapper>
