<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apricotlemontea.homepage.mapper.UserRecordMapper">

    <insert id="insert" parameterType="com.apricotlemontea.homepage.entity.UserRecord"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_record (username, content, created_at)
        VALUES (#{username}, #{content}, NOW())
    </insert>

</mapper>
